---
import Section from "@/components/Section.astro"
import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mi">
  <p class="text-pretty font-mono text-sm text-secondary">
    {summary}
  </p>
</Section>
