---
import Section from "@/components/Section.astro";
import Instagram from "@/components/icons/Instagram.astro";
---

<Section>
  <div class="flex flex-col md:flex-row align-middle justify-between gap-4">
    <div class="flex flex-col gap-2 pr-8">
      <h1>Gabriel Humerez Romero</h1>
      <h2>
        Descripción Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Unde hic provident quisquam ab eaque cumque reprehenderit expedita
        dolorum vero
      </h2>
      <span>Localización</span>
    </div>
    <span>
      <figure>
        <img class="rounded-2xl aspect-square" src="/profile.webp" alt="" />
      </figure>
    </span>
  </div>
  <footer>
    <a
      href="https://instagram.com/soy.xander"
      title={`Visitar el perfil de Gabriel en instagram`}
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-500"
    >
      <Instagram />
    </a>
  </footer>
</Section>
