---
import Section from "@/components/Section.astro";
import Instagram from "@/components/icons/Instagram.astro";
import World from "@/components/icons/World.astro";
import { basics } from "@cv";

const { name } = basics;
---

<Section>
  <div class="flex items-center justify-between">
    <div class="flex-1 space-y-1.5">
      <h1 class="text-2xl font-bold text-primary">{name}</h1>
      <p class="max-w-md text-pretty font-mono text-sm text-secondary">
        Full Stack Engineer focused on building products with extra attention to
        detail
      </p>
      <a
        class="inline-flex max-w-md items-center text-secondary text-pretty font-mono text-xs hover:underline"
        href="http://google.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <World />
        La Rioja, AR
      </a>
    </div>
    <span>
      <figure class="relative flex shrink-0 overflow-hidden rounded-xl size-28">
        <img
          class="aspect-square h-full w-full"
          src="https://avatars.githubusercontent.com/u/10144216?v=4"
          alt=""
        />
      </figure>
    </span>
  </div>
  <footer>
    <a
      href="https://instagram.com/soy.xander"
      title={`Visitar el perfil de Gabriel en instagram`}
      target="_blank"
      rel="noopener noreferrer"
      class="text-secondary inline-flex items-center justify-center border-2 border-solid border-[#eee]"
    >
      <Instagram />
    </a>
  </footer>
</Section>
