---
import AboutMe from "@/components/sections/AboutMe.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Skills from "@/components/sections/Skills.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Portfolio">
  <main class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6">
    <Hero />
    <AboutMe />
    <Experience />
    <Education />
    <Skills />
  </main>
</Layout>
