---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro'
---

<Layout title="Portfolio">
	<main class="p-8 ls:p-16 m-auto w-full">
		<Hero />
	</main>
</Layout>
