---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/sections/Hero.astro"
import AboutMe from "@/components/sections/AboutMe.astro"
import Experience from "@/components/sections/Experience.astro"
---

<Layout title="Portfolio">
  <main class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6">
    <Hero />
    <AboutMe title="Sobre mi" />
    <Experience title="Experiencias" />
  </main>
</Layout>
