---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/sections/Hero.astro"
import AboutMe from "@/components/sections/AboutMe.astro"
---

<Layout title="Portfolio">
  <main
    class="container relative mx-auto scroll-my-12 overflow-auto p-4 md:p-16 print:p-12">
    <Hero />
    <AboutMe title="Sobre mi" />
  </main>
</Layout>
