---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
---

<Layout title="Portfolio">
  <main
    class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16"
  >
    <Hero />
  </main>
</Layout>
